*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image:url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    
}

.border{
    border: 1.5px solid transparent;
}

 .border:hover{
    border: 1.5px solid white;
    border-radius: 5px;
}

/* box 2 */
.icon{
    display: flex;
    align-items: center;
    
}
.add-1{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;   
}
.add-2{
    color: #FFFFFF;
    margin-left: 3px;
}

/* box3 */

.nav-search{
    display: flex;
    height: 40px;
    width: 620px;
    border-radius: 4px;
    background-color: orange;
    justify-content: space-evenly;

}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none; 
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;
}

/* box 4 */

.nav-first{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 6 */

.nav-cart i{
    font-size:30px ;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */
.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

    
}

.panel2 p{
    display: inline;
    margin-left: 15px;
}

.panel2{
    width: 70%;
    font-size: 0.85rem;
}

.panel3{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */

.hero-section{
    background-image: url(hero_image.jpg);
    height: 380px;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: flex-end;


}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}


/* Shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    

}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.img1{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}

.box1-content{
    margin-left:1rem ;
    margin-right: 1rem;
}

.box1-content p{
    color: #007185;
}

footer{
    margin-top: 15px;
}

.footerpanel1{
    color:white ;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    background-color: #37475a;
}

.footerpanel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 20px;
}

ul li{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footpanel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    background-image:url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footpanel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
    
}

.pages{  
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}